/data
/test
/index.dat
/Neuro-kNN-sklearn.ipynb
/Neuro-NMSLIB-Copy1.ipynb
/PP1-CNN-Copy1.ipynb
/PP1-CNN.ipynb
/PP1-EDA.ipynb
/PP2-CNN.ipynb
/PP2-NMSLIB-Copy1.ipynb
/PP2-NMSLIB.ipynb
/PP2-sklearn.ipynb
/WIP-PP1-NMSLIB.ipynb
